<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Project Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./style.css" rel="stylesheet" />

      <div class="container">
        <div class="back">
          <div class="pagemenu">
            <span class="text"><span>Projects</span></span>
            <span class="text02"><span>Staffs</span></span>
            <span class="text04"><span>Equipment</span></span>
            <span class="text06"><span>MENU</span></span>
          </div>
          <div class="menu">
            <img
              src="image/image 1.png"
              alt="logo"
              class="image1"
            />
          </div>
          <div class="button">
            <span class="text08"><span>VOD</span></span>
            <span class="text10"><span>Event</span></span>
            <span class="text12"><span>Home</span></span>
            <img
              src="image/Ellipse 1.png"
              alt="Profile_img"
              class="ellipse1"
            />
          </div>
          <div class="all-case-project">
            <div class="case-equipement">
              <span class="text14"><span>EQUIPEMENT</span></span>
              <span class="text23"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio temporibus voluptas error distinctio hic quae corrupti vero doloribus optio! Inventore ex quaerat modi blanditiis soluta maiores illum, ab velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio temporibus voluptas error distinctio hic quae corrupti vero doloribus optio! Inventore ex quaerat modi blanditiis soluta maiores illum, ab velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio temporibus voluptas error distinctio hic quae corrupti vero doloribus optio! Inventore ex quaerat modi blanditiis soluta maiores illum, ab velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio temporibus voluptas error distinctio hic quae corrupti vero doloribus optio! Inventore ex quaerat modi blanditiis soluta maiores illum, ab velit.</span></span>
            </div>
            <div class="case-staff">
              <span class="text16"><span>STAFF</span></span>
              <span class="text21"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio temporibus voluptas error distinctio hic quae corrupti vero doloribus optio! Inventore ex quaerat modi blanditiis soluta maiores illum, ab velit.</span></span>
              <img
                src="image/Frame.png"
                alt="Icon_staff"
                class="frame"
              />
            </div>
            <div class="case-information">
              <span class="text18"><span>INFORMATION</span></span>
              <span class="text19"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio temporibus voluptas error distinctio hic quae corrupti vero doloribus optio! Inventore ex quaerat modi blanditiis soluta maiores illum, ab velit.</span></span>
            </div>
            <div class="edit-button">
              <span class="text20"><span>EDIT</span></span>
            </div>
            <span class="text22"><span>PROJECT</span></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>