@font-face {
    font-family:"Toudoom";
    src: url("@/assets/fonts/NOMARegular.ttf");
    
}

@font-face {
    font-family:"Toudoom-classic";
    src: url("@/assets/fonts/RedHatText-Regular.ttf");
    
}



h2{
    color: white;
    font-family: "NOMA";
}

p{
    color: white;
    font-family: 'Toudoom-classic';
}

body{
    background-color: #0C0923;
}

.cat{
    font-size: 24px; font-family: NOMA;
  }
  
.info-name{
    font-size: 16px; font-family: NOMA;
  }
  
.info{
    font-size: 16px;
    font-family: 'toudoom-classic';
  }
  
.data:hover {
      color: #d82367;
      background-color: rgba(255, 255, 255, 0.05);
  }

.btn-toudoom {
--bs-btn-color: #fff;
--bs-btn-bg: #d82367;
--bs-btn-border-color: #d82367;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #ea095f;
--bs-btn-hover-border-color: #ea095f;
--bs-btn-focus-shadow-rgb: 49, 132, 253;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #d82367;
--bs-btn-active-border-color: #d82367;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: #dd6090;
--bs-btn-disabled-border-color: #dd6090;
}